<div class="maincontent card column artDiv">
    
    <img src="/images/postimg/<%=post.photo %>">
    <h1><%=post.title%></h1>
    <div class="article column">
        <%-post.htmlContent%>
    </div>
    <input class="backButton" type="button" value="Wstecz" onClick="history.back();" />
</div>