<div class="maincontainer column">
    <div class="bar">
        <div class="element">
            <a href="/">
                <p class="logotext">Norbert Bloguje</p>
                <i class="fas fa-blog logoicon"></i>
            </a>
        </div>
    </div>
    <div class="content column">